---
interface Props {
  title: string;
  description: string;
  imageUrl: string;
  imageSize?: string;
}

const { title, description, imageUrl, imageSize = "w-32" } = Astro.props;
---

<div class="flex flex-col items-center gap-2 text-center max-w-sm md:max-w-xl lg:max-w-none mx-auto">
  <div class="w-32 aspect-square flex items-center justify-center">
    <img src={imageUrl} alt={title} class={`aspect-square ${imageSize}`} />
  </div>

  <span class="text-xl font-semibold">{title}</span>

  <p class="text-sm">
    {description}
  </p>
</div>